.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size; 
}

.add-option {
    display: flex; // to allow using the flex-grow in its child content
    padding: $m-size;
}

.add-option__input {
    background: $dark-blue;
    color: $off-white;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    border: none;
    flex-grow: 1; // because we define the add-option to flex, we can style this element that are part of add-option to flex-grow to 1
    margin-right: $s-size;
    padding: $s-size;
}