.widget {
    background: $light-blue;
    margin-bottom: $l-size;
}

// widget header
.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex; /** distributed to left to right */
    justify-content: space-between; // go with the flex property, so here we specify to tell that we put space between element
}

.widget-header__title {
    margin: 0;
}

.widget__message{
    color: $off-white;
    text-align: center;
    margin: 0;
    padding: $l-size;
    border-bottom: 1px solid lighten($light-blue, 10%);
}